extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    form(action='/add-recipe', method='post')
      | Recipe Name:
      input(type="text", name="name", required)
      br
      | Recipe Category:
      select(class="dropdown" name = "categoryName")
        for category in categories
          option(value = category.name) #{category.name}
      br
      | Recipe Ingredients:
      textarea(name="ingredients", rows="5", required)
      br
      input(type='submit', value='Add Recipe')