extends layout

block content
  h1 Add Ingredients
  if recipes.length == 0
    | There are no selected recipes to display. Please 
    a(href="/add-meals") choose some
    | .
  else
    form(action='/add-ingredients', method='post')
      each recipe in recipes
        h2 #{recipe.name}
        -var ingredients = recipe.ingredients.split(",");
        -for (var i = 0; i < ingredients.length; i++) {
          input(type="checkbox", name="#{ingredients[i]} (#{recipe.name})")
          | #{ingredients[i]}
          br
        -}
      input(type='submit', value='Add Ingredients')