extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    form(action='/add-category', method='post')
      | Category Name:
      input(type="text", name="name", required)
      br
      input(type='submit', value='Add Category')