extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    form(action='/add-assorted', method='post')
      | Assorted Item:
      input(type="text", name="itemName", required)
      br
      input(type='submit', value='Add Assorted Item')