extends layout

block content
  h1 Add Recipe
  form(action='/add-recipe', method='post')
    | Recipe Name:
    input(type="text", name="name")
    br
    | Recipe Category:
    select(name = "categoryName")
      for category in categories
        option(value = category.name) #{category.name}
    br
    | Recipe Ingredients:
    textarea(name="ingredients", rows="10")
    br
    input(type='submit', value='Add Recipe')