extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    header(class='major')
      p
        | We currently support using Wunderlist as our to-do list application.
        br
        br
        | Please connect with your Wunderlist account or create one by clicking below.
    form(action='/authorize', method='post')
      input(type='submit', value='Connect With Wunderlist')