extends header

block content
  div(class="container heading")
    header(class="major")
      h2= title
  div(class="container user-input")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    form(action='/create-account', method='post')
      | Email Address:
      input(type="text", name="emailAddress", required)
      | Password:
      input(type="password", name="password", required)
      input(type='submit', name='action', value='Create Account')