extends layout

block content
  h1 Edit Recipe
  form(action='/edit-recipe', method='post')
    input(type="hidden", name="recipeId", value="#{recipeId}")
    | Recipe Name:
    input(type="text", name="name", value="#{name}")
    br
    | Recipe Ingredients:
    textarea(name="ingredients", rows="10")
      | #{ingredients}
    br
    input(type='submit', value='Edit Recipe')