doctype html
html
  head
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/skel.min.js")
    script(src="/javascripts/skel-layers.min.js")
    script(src="/javascripts/init.js")
    block extraScripts
    title= title
  body
    header(id = "header")
      h1
        a(href="/") Meal Planner
      nav(id = "nav")
        if (user)
          ul
            if user.isSubscribed
              li: a(href="/view-recipes") Recipes
              li: a(href="/view-categories") Categories
              li: a(href="/calendar") Calendar
              li: a(class='button special' href="/plan-meals") Plan Meals
            li: a(class='button special' href="/my-account") My Account
            li: a(class='button special' href="/log-out") Log Out
        else
          ul
            li: a(href="/log-in") Log In
            li: a(href="/create-account") Create Account

    block content