doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/style-xlarge.css', media='max-width: 1680px', rel='stylesheet')
    link(href='/stylesheets/style-large.css', media='max-width: 1280px',rel='stylesheet')
    link(href='/stylesheets/style-medium.css', media='max-width: 980px',rel='stylesheet')
    link(href='/stylesheets/style-small.css', media='max-width: 736px',rel='stylesheet')
    link(href='/stylesheets/style-xsmall.css', media='max-width: 480px',rel='stylesheet')

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/skel.min.js")
    script(src="/javascripts/skel-layers.min.js")
    script(src="/javascripts/init.js")
    block extraScripts
    title= title

    meta(property="og:title", content="Quick Meal Planner")
    meta(property="og:description", content="Meal planning shouldn't be stressful. Take charge of your meals today with this straight forward meal planner.")
    meta(property="og:image", content="http://www.quickmealplanner.com/images/background.jpg")
  body
    header(id = "header")
      h1
        a(href="/") Quick Meal Planner
      nav(id = "nav")
        if (user)
          ul
            if user.subscriptionStatus
              li: a(href="/view-recipes") Recipes
              li: a(href="/view-categories") Categories
              li: a(href="/calendar") Calendar
              li: a(href="/grocery-list") Grocery List
            li: a(href="/my-account") My Account
            li: a(href="/log-out") Log Out
        else
          ul
            li: a(href="/log-in") Log In
            li: a(href="/create-account") Create an Account

    block content

    footer(id="footer")
      div(class="container")
        div(class="row")
          div(class="8u 12u$(medium)")
            ul(class="copyright")
              li
                | &copy; Quick Meal Planner. All rights reserved.