extends header

block content


  section(class="wrapper style1 special")
    div(class="container")
      if (user)
        div(class="row 150%")
          div(class="4u 12u$(medium)")
            a(href="/view-recipes")
              section(class="box")
                i(class="icon big rounded color1 fa-book")
                h3 Recipes
          div(class="4u 12u$(medium)")
            a(href="/view-categories")
              section(class="box")
                i(class="icon big rounded color8 fa-cog")
                h3 Categories
          div(class="4u 12u$(medium)")
            a(href="/plan-meals")
              section(class="box")
                i(class="icon big rounded color7 fa-cutlery")
                h3 Plan Meals
      else
        | Please 
        a(href="/log-in") log in
        | .