extends header

block content
  script.
    $(document).ready(function() {
      $('#rotatingHeader').delay(1500).fadeOut(500, function() {
        $(this).text('Plan meals').fadeIn(500).delay(1500).fadeOut(500, function() {
          $(this).text('Create grocery lists').fadeIn(500).delay(1500).fadeOut(500, function() {
            $(this).text('Your week, streamlined').fadeIn(500);
          });
        });
      });
    })
  if user
    section(class="wrapper style1 special")
      div(class="container")
        if user.isSubscribed
          div(class="row 150%")
            div(class="4u 12u$(medium)")
              a(href="/view-recipes")
                section(class="box")
                  i(class="icon big rounded color1 fa-book")
                  h3 Recipes
            div(class="4u 12u$(medium)")
              a(href="/view-categories")
                section(class="box")
                  i(class="icon big rounded color8 fa-cog")
                  h3 Categories
            div(class="4u 12u$(medium)")
              a(href="/plan-meals")
                section(class="box")
                  i(class="icon big rounded color7 fa-cutlery")
                  h3 Plan Meals
        else
          div(class="container padding-top")
            a(href="/subscription")
              section(class="box")
                i(class="fa-calendar icon major")
                h3 Your subscription has expired.
                h4
                  | Please resubscribe in order to access all of the site's features again.
  else
    section(id="banner")
      div(class="container 75%")
        div(class="row")
          div(class="6u 12u(medium)")
            h2
              | Meal planning,
              br
              | made simple
            h4
              | Sign up for a free 14 day trial today.
            div
              form(action='/create-account', method='post')
                label(for='emailAddress') Email Address:
                input(type="text", name="emailAddress", required)
                label(for='password') Password:
                input(type="password", name="password", required)
                input(type='submit', name='action', value='Create an Account')
          div(class="6u", id="rotatingContainer")
            h2(id="rotatingHeader")
              | Add recipes
    section(class="wrapper style2 special")
      div(class="container 75%")
        div(class="row")
          div(class="6u 12u(medium)")
            i(class="icon big rounded color1 fa-book")
          div(class="6u 12u(medium)")
            h3
              | Add Recipes
            p
              | Add all of your favorite recipes quickly and easily.
        div(class="row")
          div(class="6u 12u(medium)")
            h3 Dotted lines image here
          div(class="6u 12u(medium)")
            i(class="icon big rounded color8 fa-cutlery")
        div(class="row")
          div(class="6u 12u(medium)")
            i(class="icon big rounded color8 fa-shopping-basket")
          div(class="6u 12u(medium)")
            h3
              | Plan Meals
            p
              | Plan your meals using simple drag and drop.
        div(class="row")
          div(class="6u 12u(medium)")
            h3
              | Buy Groceries
            p
              | All of your necessary ingredients are added seamlessly to your favorite grocery list.
    section(class="wrapper style1 special")
      div(class="container 75%")
            h2
              | One Simple Price
            h3
              | There are no plans to decide between.
              br
              | You get all you can eat access.
            p
              | Unlimited Recipes
              br
              | Unlimited Categories
              br
              | Weekly Meal Planning Calendar
              br
              | Integration with your favorite to do applications
            hr
            h4
              | Best of all, it's affordable
            p
              | $1 / month for stress free meal planning.
            hr
            h4
              | You're also doing good in the local community.
            p
              | 10% of all net proceeds are donated to a 
              a(href="https://www.feedoc.org/", target="_blank") local food bank
              |  to help provide meals to others.
    section(class="wrapper style2 special")
      div(class="container 50% homepage-form")
        h2
          | Not convinced?
        h3
          | Give it a spin with a 14 day free trial.
        p
          | You don't even need to enter your credit card.
        form(action='/create-account', method='post')
          label(for='emailAddress') Email Address:
          input(type="text", name="emailAddress", required)
          label(for='password') Password:
          input(type="password", name="password", required)
          input(type='submit', name='action', value='Create an Account')