extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/add-recipe") Add Recipe
  br
  a(href="/view-recipes") View Recipes
  br
  a(href="/add-category") Add Category
  br
  a(href="/view-categories") View Categories