extends layout

block content
  div(class="container")
    header(class="major")
      h2 Welcome to #{title}

  section(class="wrapper style1 special")
    div(class="container")
      div(class="row 150%")
        div(class="4u 12u$(medium)")
          a(href="/view-recipes")
            section(class="box")
              i(class="icon big rounded color1 fa-book")
              h3 Recipes
        div(class="4u 12u$(medium)")
          a(href="/view-categories")
            section(class="box")
              i(class="icon big rounded color8 fa-cog")
              h3 Categories
        div(class="4u 12u$(medium)")
          a(href="/view-assorted")
            section(class="box")
              i(class="icon big rounded color11 fa-archive")
              h3 Assorted
      div(class="row 150%")
        div(class="6u 12u$(medium)")
          a(href="/plan-meals")
            section(class="box")
              i(class="icon big rounded color7 fa-cutlery")
              h3 Plan Meals
        div(class="6u 12u$(medium)")
          a(href="/plan-assorted")
            section(class="box")
              i(class="icon big rounded color7 fa-shopping-basket")
              h3 Plan Assorted