doctype html
html
  head
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/skel.min.js")
    script(src="/javascripts/skel-layers.min.js")
    script(src="/javascripts/init.js")
    title= title
    header(id = "header")
      h1
        a(href="/") Meal Planner
      nav(id = "nav")
        ul
          li: a(href="/add-recipe") Add Recipe
          li: a(href="/view-recipes") View Recipes
          li: a(href="/add-category") Add Category
          li: a(href="/view-categories") View Categories
          li: a(class='button special' href="/add-meals") Add Meals
  body
    block content