extends header

block content
  div(class="container heading")
    header(class="major")
      h2= title
  div(class="container user-input")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    form(action='/log-in', method='post')
      input(type="hidden", name="originalUrl", value="#{originalUrl}")
      | Email Address:
      input(type="email", name="emailAddress", required)
      | Password:
      input(type="password", name="password", required)
      input(type='submit', name='action', value='Log In')
      div
        a(href="/forgot-password") Forgot password?