extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="my-account padding-top")
      form(action='/my-account', method='post')
        | Email Address:
        input(type="email", name="emailAddress", value="#{user.emailAddress}", required)
        input(type='submit', name='action', value='Update')
      form(action='/authorize', method='post')
        | Got a new Wunderlist account or lost the old to-do list? Reconnect!
        br
        input(type='submit', value='Connect With Wunderlist')