extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container my-account")
    div(class="padding-top")
      form(action='/reset-password', method='post')
        input(type="hidden", name="passwordResetToken", value="#{passwordResetToken}")
        | New Password:
        input(type="password", name="password", autofocus, required)
        input(type='submit', name='action', value='Reset Password')