extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if categoryRecipes == null
      header(class='major')
        p
          | There are currently no recipes to display. Go ahead and 
          a(href="/add-recipe") add some
          | .
    else
      -for (var categoryRecipe in categoryRecipes)
        h2 #{categoryRecipe}
        div(class="indent")
          ul(class="alt")
            -for (var i = 0; i < categoryRecipes[categoryRecipe].length; i++) {
              li: a(href="/edit-recipe/#{categoryRecipes[categoryRecipe][i].recipeId}") #{categoryRecipes[categoryRecipe][i].name}
            -}