extends layout

block content
  h1 View Categories
  if categories.length == 0
    | There are currently no categories to display. Go ahead and 
    a(href="/add-category") add some
    | .
  else
    each category, i in categories
      a(href="/edit-category/#{category.categoryId}") #{category.name}
      br