extends layout

block content
  h1 View Recipes
  if categoryRecipes == null
    | There are currently no recipes to display. Go ahead and 
    a(href="/add-recipe") add some
    | .
  else
    -for (var categoryRecipe in categoryRecipes)
      h2 #{categoryRecipe}
      -for (var i = 0; i < categoryRecipes[categoryRecipe].length; i++) {
        | #{categoryRecipes[categoryRecipe][i].name}
        br
      -}