/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 8em 2em 8em;
	}

		#banner .container {
			padding-left: 0em;
		}

/* Wrapper */

	.wrapper {
		padding: 4em 0em 2em;
		/* Style 2 Wrapper */
	}

		.wrapper.style2 footer {
			width: 85%;
		}

/* Footer */

	#footer {
		padding: 4em 0em 2em;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}

/* Custom */

	.flex {
		display: inline;
	}

	.flextable > .flextable-cell {
		width: 100%;
	}

	.flextable > .flextable-cell-header {
		width: 14%;
	}

	.meal-plan-name {
		display: inline-block !important;
		margin-left: 0px !important;
		margin-top: 10px !important;
		width: 300px !important;
	}

/* GIF */

	#calendar-gif {
		content: url("../images/calendar-small.gif");
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#calendar-gif::after {
		content: url("../images/calendar-small.gif");
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#list-gif {
		content: url("../images/list-small.gif");
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#list-gif::after {
		content: url("../images/list-small.gif");
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#recipe-gif {
		content: url("../images/recipe-small.gif");
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#recipe-gif::after {
		content: url("../images/recipe-small.gif");
		display: block;
		margin: 0 auto;
		width: 100%;
	}