<html>
	<body>
		<table align="center" width="75%" border="0" cellspacing="0" cellpadding="0" style="font-size: 16px">
			<tr>
				<td align="center">
					<h2 style="color: #666f77; font-weight: 300; line-height: 1em; margin: 0 0 1em 0; text-transform: uppercase; letter-spacing: 0.125em; font-size: 1.5em; line-height: 1.5em;">Quick Meal Planner</h2>

					Thank you for signing up for Quick Meal Planner. We hope that you have been enjoying your free trial.<br> <br><br>

					<strong>Unfortunately, your free trial will end in 3 days.</strong><br><br><br>

					There is still time to subscribe and continue meal planning. Simply visit the <a href="http://www.quickmealplanner.com/subscription">subscription dashboard</a> to subscribe. <br><br>

					As a reminder, after your trial has ended, you will no longer be able to plan meals. <br> <br>

					If you have any questions or feedback, please feel free to respond to this email and we'll get right back to you. <br> <br>
				</td>
			</tr>
		</table>
		<footer style="background: #f8f8f8; padding: 4em 0 6em 0; text-align: center; color: #bbb">
			<p style="text-align: center">
				© <a href="http://www.quickmealplanner.com">Quick Meal Planner</a>. All rights reserved.
			</p>
		</footer>
	</body>
</html>